{% extends 'base.html' %}

{% block title %}View Expense{% endblock %}

{% block content %}

<div class="page-header">

    <div>

        <h2>Expense Details</h2>

        <p>View complete expense information.</p>

    </div>

    <a href="{% url 'expenses:expense_list' %}" class="btn btn-secondary">

        <i class="bi bi-arrow-left"></i>

        Back

    </a>

</div>

<div class="dashboard-box">

    <div class="details-grid">

        <div class="detail-item">

            <label>Expense Name</label>

            <h5>{{ expense.expense_name }}</h5>

        </div>

        <div class="detail-item">

            <label>Category</label>

            <h5>{{ expense.category }}</h5>

        </div>

        <div class="detail-item">

            <label>Amount</label>

            <h5>₹ {{ expense.amount }}</h5>

        </div>

        <div class="detail-item">

            <label>Payment Mode</label>

            <h5>{{ expense.payment_mode }}</h5>

        </div>

        <div class="detail-item">

            <label>Expense Date</label>

            <h5>{{ expense.expense_date }}</h5>

        </div>

        <div class="detail-item">

            <label>Created At</label>

            <h5>{{ expense.created_at }}</h5>

        </div>

    </div>

    <div class="detail-item mt-4">

        <label>Description</label>

        <div class="description-box">

            {{ expense.description|default:"No Description Available" }}

        </div>

    </div>

    {% if expense.attachment %}

    <div class="detail-item mt-4">

        <label>Attachment</label>

        <br>

        <a href="{{ expense.attachment.url }}"
           target="_blank"
           class="btn btn-success">

            <i class="bi bi-paperclip"></i>

            View Attachment

        </a>

    </div>

    {% endif %}

    <div class="form-buttons mt-4">

        <a href="{% url 'edit_expense' expense.id %}"
           class="btn btn-warning">

            <i class="bi bi-pencil-square"></i>

            Edit Expense

        </a>

        <a href="{% url 'expense_list' %}"
           class="btn btn-secondary">

            Back

        </a>

    </div>

</div>

{% endblock %}