<nav class="navbar">

    <div class="navbar-left">

        <button class="mobile-menu-btn" id="mobile-menu-btn">
            <i class="bi bi-list"></i>
        </button>

        <!-- Global Search -->

        <div class="search-box">

            <i class="bi bi-search"></i>

            <input type="text" id="globalSearch" placeholder="Search Income, Expense, Client, Student..."
                autocomplete="off">

            <div id="searchResults" class="search-results"></div>

        </div>

    </div>

    <div class="navbar-right">

        <!-- Notification -->

        <a href="{% url 'notification_list' %}" class="nav-icon notification-icon">

            <i class="bi bi-bell-fill"></i>

            {% if unread_notifications > 0 %}
            <span class="count">
                {{ unread_notifications }}
            </span>
            {% endif %}

        </a>

        <!-- Profile -->

        <div class="profile">

            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
     alt="Profile"
     class="profile-avatar">

            <div>

                <h5>{{ request.user.username }}</h5>

                <span>Administrator</span>

            </div>

        </div>

    </div>

</nav>