{% load static %}
<nav class="navbar">

    <div class="navbar-left">

        <button class="mobile-menu-btn" id="mobile-menu-btn">
            <i class="bi bi-list"></i>
        </button>

        <!-- Global Search -->

        <div class="search-box">

            <i class="bi bi-search"></i>

            <input type="text" id="globalSearch" placeholder="Search Income, Expense, Client, Student..."
                autocomplete="off">

            <div id="searchResults" class="search-results"></div>

        </div>

    </div>

    <div class="navbar-right">

        <!-- Notification -->

        <a href="{% url 'notification_list' %}" class="nav-icon notification-icon">

            <i class="bi bi-bell-fill"></i>

            {% if unread_notifications > 0 %}
            <span class="count">
                {{ unread_notifications }}
            </span>
            {% endif %}

        </a>

        <!-- Profile -->

        <div class="profile">

             <img
    src="{% static 'images/e2e-logo.png' %}"
    alt="E2E Logo"
    class="profile-avatar"
    style="
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #ffffff
        padding: 3px;
        border: 2px solid #ffffff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    "
>

            <div>

                <h5>{{ request.user.username }}</h5>

                <span>Administrator</span>

            </div>

        </div>

    </div>

</nav>